*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    
}
body{
    margin: 0 0;
    
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap:0;
    
    
}

.leftContainer{
    position:relative;
    height: 100vh;
    

}

img{
    width: 100%;  
    height: 100%; 
    position:relative;
}
.credit {
    position: absolute;
    bottom: 5px;
    width:100%;
    text-align: center;
    color:white;

  }
.credit p{
    
    
}
.rightContainer{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    width:600px;
    background-color: rgb(222, 220, 220);
}
.rightContainer h3{
    color:rgb(1, 22, 21);
    margin-left:30px;
    margin-bottom: 20px;
    font-size: 25px;
}
.rightContainer p{
    color:rgb(1, 22, 21);
    margin-left: 30px;
    margin-top: 30px;
    font-size: 20px;
    width:500px;
}
.intro{
    margin-bottom: 30px;
}

.formContainer{
    background-color: white;
    padding-bottom: 50px;
}
.formContainer h4{
    margin-left: 30px;
    margin-top: 30px;
    color: black;
    font-size: 30px;
}

.formContainer form{
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.left-column, .right-column{
    display:flex;
    flex-direction: column;
}
.right-column{
    margin-left: 30px;
}
form input{
    margin-bottom: 10px;
    width:250px;
    height:35px;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 10px;
}

form label{
    color:black;
    font-size: 15px;
}


.bottomContainer{
    
}
.bottomContainer button{
    width: 240px;
    height: 60px;
    border: 3px solid rgb(28, 135, 141);
    color:rgb(28, 135, 141);
    font-size: 25px;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 30px;
}
button:hover{
    color:rgb(222, 220, 220);
    background-color: rgb(28, 135, 141);
}