@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    
}
body{
    background-color: rgb(159, 159, 159);
}

main{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: center;
    
    
}

.leftContainer{
    width:auto;
    position:relative;
    height: 100vh;
    min-height: 943px;
    min-width: 593px;
    
}

.bckground{
    width:593px; 

    height: 100%; 
    position:absolute;
    
}

.logoContainer{
    position: absolute;
    top:90px;
    width: 100%;
    height:300px;
    background-color: rgb(78, 101, 96);
    opacity:40%;
}
.logoDiv{
    position: absolute;
    top:12%;
    width: 100%;
    
}
.logoimg {
    position:absolute;
    width:auto;
    height:150px;
    top:90px;
    left:230px;

}
.logoDiv p{
    font-family: 'Exo';
    text-align: center;
    color:rgb(47, 129, 109);
    font-size: 70px;
    padding-top: 20px;
    text-shadow: 0px 2px rgb(171, 80, 80);
    
}
.credit {
    position: absolute;
    bottom: 5px;
    width:100%;
    text-align: center;
    
    display:flex;
    flex-direction: column;

  }
.credit p{ 
    color:#596D48
}

.credit a{
    font-style: normal;
    color:rgb(202, 53, 53)
}

.rightContainer{
    position: relative;;
    display: flex;
    flex-direction: column;
    background-color: rgb(222, 220, 220);
    min-width: 943px;
    min-height: 943px;
}

.rightContainer p, h3, button {
    margin-left: 30px;
}
.intro h3{
    color:rgb(57, 57, 57);
    
    font-size: 25px;
}
.intro, .bottomContainer p{
    color:rgb(57, 57, 57);
    margin-left: 30px;
    font-size: 20px;
    width:500px;
}
.intro{
    padding-top: 50px;
    padding-bottom: 50px;
}

.formContainer{
    padding-left: 30px;
    background-color: rgb(238, 237, 237);
    padding-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.formContainer h4{
    margin-left: 30px;
    margin-top: 30px;
    color: rgb(57, 57, 57);
    font-size: 30px;
}

.formContainer form{
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    
}

.left-column, .right-column{
    display:flex;
    flex-direction: column;
}
.right-column{
    margin-left: 30px;
}
form input{
    margin-bottom: 10px;
    width:250px;
    height:35px;
    border: 1px solid #596D48;
    border-radius: 35px;
    font-size: 17px;
    padding-left: 15px;
}

form label{
    color:rgb(57, 57, 57);
    font-size: 15px;
    padding-left: 15px;
}


form input:focus{
    outline: none !important;
    border: 2px solid #596D48;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}





.bottomContainer button{
    width: 240px;
    height: 60px;
    border: 3px solid rgb(107, 107, 107);
    color:rgb(107, 107, 107);;
    font-size: 25px;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
button:hover{
    color:rgb(222, 220, 220);
    background-color: rgb(107, 107, 107);
}


.bottomContainer{
    padding-top: 30px;
    padding-left: 30px;
}
.bottomContainer a{
    color: rgb(57, 57, 57);
}



.github{
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    

   
}
.github a{
    color: rgb(57, 57, 57);
}
.githubIcon{
    height: 20px;
    width:20px; 
    padding-bottom: 0;
    text-align: center;
}
